@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-700 font-sans;
    overflow: hidden;
    touch-action: none;
  }
}

/* Custom Transition Classes */
.fade-enter {
  opacity: 0;
  transform: scale(0.98);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}